/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*
* Colors
*/
.teal {
  color: #2AA4A5;
}

#cboxOverlay{
  background:none;
  background-color:rgba(0, 0, 0, 0.5);
}
/*
* Submit like Buttons
*/

a.action-button {
  display: block;
  font-size: 1.2em;
  padding: .3em 1em;  
}

a.button,
a.button:link,
a.button:visited,
a.action-button,
a.action-btton:link,
a.action-button:visited,
.button a,
.button a:link,
.button a:visited{
  color: #FFFFFF;
}

a.action-button:hover,
a.button:hover,
.button a:hover {
  text-decoration: none;
}

.form-submit, 
.button,
.action-button{
  cursor:pointer;
  font-size: 1.1em;
  font-weight:bold;
  position: relative;
  display: inline-block;
  color:#fff;
  padding: .1em .8em;
  margin: .2em .4em;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
  border-radius:3px;
  text-decoration:none;  
  border: none;
  
  text-shadow: 1px 1px 2px #333333;
  filter: dropshadow(color=#333333, offx=1, offy=1);

}

.form-submit:hover,
.button:hover,
.action-button:hover,
#block-shift_helper-get_started a.rollover:hover{
  -moz-box-shadow:0 0 5px 2px #999999;
  -webkir-box-shadow:0 0 5px 2px #999999;
  -ms-box-shadow:0 0 5px 2px #999999;
  -o-box-shadow:0 0 5px 2px #999999;
  box-shadow:0 0 5px 2px #999999;
  cursor: pointer;
  text-decoration:none; 
}

.form-submit:active {
  background: #212121;
}

.blue-gradient,
.form-submit, 
.button,
#edit-submit,
.action-button,
#block-shift_helper-get_started a.rollover{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#33CED0), to(#2AA4A5));
  background-image: -webkit-linear-gradient(top, #33CED0, #2AA4A5);
  background-image: -moz-linear-gradient(top, #33CED0, #2AA4A5);
  background-image: -ms-linear-gradient(top, #33CED0, #2AA4A5);
  background-image: -o-linear-gradient(top, #33CED0, #2AA4A5);
  background-image: linear-gradient(top, #33CED0, #2AA4A5);
  background-color: #2AA4A5; /* IE6-9 */  
}

#edit-submit {
  margin-right: .5em;
}

.purple-gradient,
#edit-delete,
#edit-cancel, 
#event-right .add-to-cart input[type="submit"],
.add-to-cart-body-wrapper .add-to-cart input[type="submit"], 
.view-facilitators-availability .form-submit,
.remove .form-submit{
  background: #990066; /* Old browsers */
  background: -moz-linear-gradient(top,  #990066 1%, #610040 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#990066), color-stop(100%,#610040)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #990066 1%,#610040 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #990066 1%,#610040 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #990066 1%,#610040 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #990066 1%,#610040 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990066', endColorstr='#610040',GradientType=0 ); /* IE6-9 */  
}

#edit-delete {
  margin-right: .5em;
}

.green-gradient,
#general-search-wrapper .form-submit{
  background: #d0f73e; /* Old browsers */
  background: -moz-linear-gradient(top,  #d0f73e 0%, #9dba30 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0f73e), color-stop(100%,#9dba30)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d0f73e 0%,#9dba30 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d0f73e 0%,#9dba30 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d0f73e 0%,#9dba30 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d0f73e 0%,#9dba30 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f73e', endColorstr='#9dba30',GradientType=0 ); /* IE6-9 */
}

.orange-gradient,
.group-preferences #edit-submit
{
  background: #ff9900; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff9900 0%, #d57f00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9900), color-stop(100%,#d57f00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff9900 0%,#d57f00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff9900 0%,#d57f00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff9900 0%,#d57f00 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff9900 0%,#d57f00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#d57f00',GradientType=0 ); /* IE6-9 */
}

/* contact form */
#contact-mail-user {
  margin: 2em;
  max-width: 1216px;
}

#contact-mail-user .privacy-policy {
  float: right;
}

#sb-info {
  background:#000000;
  padding:5px 10px
}
/* simple header */
.simple-header {
  height: 58px;
  background: #2AA4A5;
  border-bottom: solid 4px #D1F93E;  
  -webkit-box-shadow: 0 3px 1px 0 #949494;
  box-shadow: 0 3px 1px 0 #949494;  
}

.simple-header .logo {
  background: #ffffff url('../images/logo2.png') no-repeat 150px center;
  height: 58px;
  width: 355px;
}

.register-text {
  font-size: 22px;
  color: #595959;
  font-weight: bold;
  text-align: center;
}

#user-register .form-item {
  margin-top: .5em;
  margin-bottom: .5em;
}

#user-register label {
    color: #999999;
    float: left;
    font-size: 18px;
    line-height: 18px;
    padding-top: 6px;
    padding-right: 10px;
    text-align: right;
    width: 210px; 
}

#user-register input {
  width: 330px;
  height: 41px;
  line-height: 41px;
  font-size: 16px;
  border: none;
  background: #e1e1e1;
  padding: 0 10px;
}  

#user-register .password-strength {
  display: none;
}

#user-register span.password-confirm {
  display: block;
  padding-left: 220px;
}

#user-register #edit-profile-first-wrapper {
  margin-top: 40px;
}

#user-register .form-required {
  display: none;
}

#user-register #edit-legal-accept-wrapper label {
  clear: both;
  float: none;
  color: #595959;
  margin-left: 90px;
  font-size: 15px;
}

#user-register #edit-legal-accept-wrapper input {
  width: auto;
  height: auto;
}  

#user-register #edit-submit {
  display: block;
  background: #FFC600;
  font-size: 30px;
  height: 78px;
  margin: 20px auto 10px auto;
  padding: 0;
}

#user-register .privacy-text {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #595959;
}

/* pop up */


#member-register-popup .form-item{
  margin-top: .5em;
  margin-bottom: .5em;
}

#member-register-popup label{
    color: #999999;
    float: left;
    font-size: 18px;
    line-height: 18px;
    padding-top: 6px;
    padding-right: 10px;
    text-align: right;
    width: 120px; 
}

#member-register-popup input{
  width: 300px;
  height: 41px;
  line-height: 41px;
  font-size: 16px;
  border: none;
  background: #e1e1e1;
  padding: 0 10px;
}  

#member-register-popup .password-strength{
  display: none;
}

#member-register-popup span.password-confirm{
  display: block;
  padding-left: 220px;
}

#member-register-popup #edit-profile-first-wrapper,
#member-register-popup #edit-mail-wrapper,
#member-register-popup #edit-legal-accept-wrapper,
#member-register-popup #edit-submit,
#member-register-popup .privacy-text{
  margin-right: 20px;
  float: right;
  clear: right;
}
#member-register-popup #edit-profile-first-wrapper{
  margin-top: 30px;
}

#member-register-popup .form-required{
  display: none;
}

#member-register-popup #edit-legal-accept-wrapper label{
  clear: both;
  float: none;
  color: #595959;
  font-size: 15px;
}

#member-register-popup #edit-legal-accept-wrapper input{
  width: auto;
  height: auto;
}  

#member-register-popup #edit-submit{
  display: block;
  background: #FFC600;
  font-size: 30px;
  height: 78px;
  padding: 0;
}
 
#member-register-popup .privacy-text{
  text-align: right;
  font-size: 15px;
  font-weight: 600;
  color: #595959;
  width: 300px;
  margin-bottom: 10px;
}


#member-register-popup #logo {
display:block;
margin:20px auto 0 auto;
width:250px;
position: relative;
}

#member-register-popup .presents {
text-align:center;
margin:0px;
}

#member-register-popup h1.LB-heading {
text-align:center;
color:#e38a31;
font-weight:600;
font-size:40px;
}

#member-register-popup p.details {
font-size:15px;
line-height: 22px;
padding:0 30px;
}

#member-register-popup img#welcome-pack {
width:338px;
float:left;
margin-top: 40px;
margin-left: 20px;
}

#member-register-popup #edit-legal-accept-wrapper,
#member-register-popup .privacy-text{
width: 300px;
text-align: right;
}


/* preference page */
.node-add-preferences-signup {
  min-width: 852px;
}

.node-add-preferences-signup #page{
  background: #F1F1F1;
}

.node-add-preferences-signup #content-area {
  padding-bottom: 6em;  
}

.preferences-wrapper .border {
  background: #D1F93E;
}

.preferences-wrapper .preferences {
}

.preferences-wrapper .preferences .title {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: #2CACB1;
  padding-top: 90px;
  background: url('../images/member/step-customize.png') center 30px no-repeat;
}

.preferences-wrapper .preferences .content {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  color: #818181;
  font-size: 22px;
  line-height: 26px;
  padding: 30px 0;
}

.node-add-preferences-signup #content-area form {
  width: 832px;
  margin: 0 auto;
  background: #ffffff;
}

.node-add-preferences-signup #content-area .top-header {
  height: 20px;
  background: #2AA4A5;
  border-bottom: 3px solid #D1F93E;
}

.node-add-preferences-signup #content-area .form-item {
  margin: 1em 2em;
}

.node-add-preferences-signup #content-area .group-preferences {
  margin: 0;
  padding: 0 0 1em 0;
  border: none;
  font-size: 1.2em;
  line-height: 1.3em;
}

.group-preferences .specify {
    color: #2AA4A5;
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em;
}

.group-preferences .single-accordion{
  margin: 1.5em 2em;
}

.group-preferences .single-accordion .header {
  background: #E1E1E1;
  min-height: 4em;
  cursor: pointer;  
}

.group-preferences .single-accordion .header .button {
  font-size: 0.8em;
  margin: 1.2em 1em;
  min-width: 13em;
  text-align: center;
}

.group-preferences .single-accordion .header span {
  color: #666666;
  font-weight: 600;
  font-size: .95em;
}

.node-add-preferences-signup #content-area #edit-submit {
  margin: 1em auto;
  display: block;
  font-size: 1.6em;
}

.node-add-preferences-signup #content-area .form-required {
  display: none;
}
