

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body{
	padding:0px;
	margin:0px;
  font-family: 'Open Sans', sans-serif;
	background-color:#fff;
}

.content{
  position: relative;
}
p{
  font-size: 15px;
  line-height: 1.6em;
}
.logo_main {
  width: 1000px;
  margin: 0 auto;
}
.logo_main .logo{
  float: left;
}
.logo_main .tag-line{
  float: right;
  width: 500px;
  text-align: center;
  display: block;
  padding-top: 60px;
}
.container{
  background: url('../images/teal-abstract-bg.jpg');
}
.container .wrapper{
  width: 1000px;
  margin: 0 auto;
  padding: 80px 0 100px 0;
}
.container .wrapper h1{
  font-size: 40px;
  color: #fff;  
}

.shadow{
  text-shadow: 1px 1px 2px #333333;
  filter: dropshadow(color=#333333, offx=1, offy=1); 
}

.heading{
	text-align:center; padding:0px; margin:0px; color:#30AFBA; font-size:48px;
}
.desc_1{
	text-align:center; font-size:35px; padding:0px; color:#fff; margin:0px;
  font-weight: bold;
  line-height: 1.2em; 
}
.desc_2{
  color:#C5EA3A; 
}
.desc_3{
	color:#30AFBA; font-size:20px; font-style:italic; font-weight:bold;
}
.video{
	background-color:#999; width:700px; height:450px; margin-top:20px; border:15px solid #fff; border-radius:12px; box-shadow:0px 0px 5px #999;
}

.desc_4_contaner{
	width:892px; background-color:#fff; margin: 0 auto 0 auto; background-color:#fbfbfb; box-shadow: 1px 0 1px #999,  -1px 0 1px #999;margin-top:-50px; padding-bottom:60px;
}
.trees_word{
	float:left;
}
.tree{
	float:left;width:220px;padding-top:20px;
}

.tree img{
	margin-left:-10px;
}
.tree_text{
	float:left; margin-top:100px; width:450px;
}
.span_3{
	color:#30AFBA; font-size:40px; font-weight:bold;
}
.span_4{
	color:#30AFBA; font-size:55px; font-weight:bold;
}
.span_5{
	color:#A9BE52; font-size:25px; font-weight:bold; display: inline-block; padding-left: 20px;
}
.span_6{
	font-size:25px; color:#30AFBA; font-weight:bold; display: inline-block; padding-left: 140px;
}
.world_img{
	float:right; margin-top:110px; width:220px; margin-right:2px;
}
.h1_here{
	color:#fff;
}
.h2_here{
	color:#fff;
  font-size: 25px;
}
.dollar{
	float:left;
  margin: 50px 0 0 20px;
}

.BeVitality .h1_2{
	padding:20px 0 0 0; margin:0px; font-size:65px; color:#fff; text-align:center;
}
.BeVitality td{
  padding: 25px 15px 10px 15px;
}
.BeVitality tbody{
  border: none;
}
.super{
	font-size:45px; font-style:italic; font-weight:bold; color:#EC8E39;
}
.span_7{
	font-size:40px; color:#A9BE52; font-weight:bold;
}
.BeVitality .desc_12{
	color:#fff; margin-top:20px;
}
.desc_13{
	padding:0px; margin:0px; color:#EC8E39; margin-left:15px !important; font-size:22px; font-weight:bold;height:45px; background-image:url(../images/practitioner-sales-page/yes_arrow.png); background-repeat:no-repeat; background-position: 50px;
}
.span_8{
	font-size:26px; font-weight:bolder; margin-right:50px;
}
.desc_14{
	width:850px; margin-top:15px; margin-left:20px; float:left;
}
.desc_15{
	margin-left:40px !important; width:550px; float:left; color:#535152; margin-right:10px;
}
.two_girls_boy{
	float:left; margin-top:-10px;
}
.desc_16{
	padding:0px; margin:0px; color:#EC8E39; font-size:22px; width:820px; //background-color:pink; font-weight:bold;height:45px; background-image:url(../images/practitioner-sales-page/yes_arrow.png); background-repeat:no-repeat; background-position: 50px; float:left;
}
.span_9{
	font-size:26px; font-weight:bolder; margin-right:50px;
}
.desc_18{
	width:780px; margin-left:70px; float:left; margin-top:7px;
}
.desc_18 img{
	float:left;
}
.desc_19{
	width:600px; margin-left:20px; color:#535152;
}
.desc_17{
	padding:0px; margin:0px; margin-top:60px !important; color:#EC8E39; font-size:22px; width:820px; font-weight:bold;height:45px; background-image:url(../images/practitioner-sales-page/yes_arrow.png); background-repeat:no-repeat; background-position: 50px; float:left;
}
.span_10{
	font-size:26px; font-weight:bolder; margin-right:50px;
}
.desc_20{
	margin-left:40px !important; width:500px; float:left; color:#535152; margin-right:10px;
}
.desc_21{
	position:relative; z-index:10; margin-top:-15px; background-image:url(../images/practitioner-sales-page/green_footer.png); margin-left:auto; margin-right:auto; width:947px; height:300px; background-repeat:no-repeat;
}
.desc_21 img{
	margin:-20px 0 0 27px; float:left; height:265px;
}
.desc_22{
	float:left; background-image:url(../images/practitioner-sales-page/welcome.png); background-position:100px; background-repeat:no-repeat; margin-top:30px; height:240px;
}
.desc_23{
	margin-left:10px; width:550px; height:250px; float:left; margin-top:10px;
}
.h1_3{
	font-size:30px; color:#fff; padding:0px; margin:0px;
}
.h1_4{
	font-size:35px; color:#fff; padding:0px; margin:0px; text-align: center; line-height: 40px;
}
.span_11{
	color:#EC8E39; font-size:55px; text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff; line-height: 60px;
}
.desc_24{
	background-image:url(../images/practitioner-sales-page/join_now_1.png); width:433px; height:73px; padding:0px; margin:0px; margin-left:40px; margin-top:10px;
}
.desc_24 a{
	color:#fff; font-size:48px; line-height:55px; font-weight:bolder; margin: 0 0 0 57px; text-decoration:none;
}
.desc_5h{
	float:left; margin-left:80px; width:780px; font-size:25px; margin-top:5px; color: #2BADB0;
}
.desc_5{
	float:left; margin-left:80px; width:780px; font-size:15px; margin-top:0px;
}
.desc_6{
	float:left; margin-left:80px; font-size:22px; width:780px; margin-top:-4px; font-weight:bold; padding:0px; text-align:center; color:#30AFBA;
}
.green_container{
	box-shadow:0px 0px 4px #999;
	background-color:#2BADB0;
  padding-bottom: 100px;
  position: relative;
}
.green_container_box{
	width:892px;
	margin-left:auto;
	margin-right:auto;
}
.green_container_box h1{
	padding:0px;
	margin:0px;
	text-align:center;
  font-size: 30px;
}
.green_container p{
	padding:0px;
	margin:0px;
}
.desc_7{
	font-size:40px; float:left; width:70px; font-weight:bolder; margin-top:50px; text-shadow:0px 1px 2px #999; color:#fff;
}
.desc_7 h1{
  font-size: 70px;
}
.desc_8{
	float:left; width:575px; margin-top:50px;
}
.span_1{
	font-size:24px; font-weight:bolder; color:#C5EA3A;
}
.span_2{
	font-size:15px;color:#fff;font-weight: 600;
}




.BeVitality{
	width:892px; background-color:#fff; margin-left:auto; margin-right:auto; background-color:#FBFBFB; box-shadow: 2px 0 1px #999,  -2px 0 1px #999;
}
.BeVitality p{
	padding:0px;
	margin:0px;
}
.BeVitality h1{
	padding:0px; margin:0px; margin-left:40px; color:#32B0B2; font-weight:600; font-size: 25px;
}
.desc_9{
	width:769px; height: 598px; margin-left:auto; margin-right:auto; background-image:url(../images/practitioner-sales-page/brown_box_1.png);
}

.desc_11{
	font-size:25px; line-height:30px; color:#fff; font-weight:bold;
}

/*-------------------------------------------------------- Second Page ------------------------------------------------------*/
.second_page{
	width:892px; height:1500; background-color:#fff; margin-left:auto; margin-right:auto; background-color:#FBFBFB; box-shadow: 2px 0 1px #999,  -2px 0 1px #999;margin-top:-15px; padding-bottom:20px;
	margin-top:-40px;
}
.green_container_box_1{
	width:892px;
	margin-left:auto;
	margin-right:auto;
}
.the_big_picture{
	width:892px; height:850px; background-color:#fff; margin-left:auto; margin-right:auto; background-color:#FBFBFB; box-shadow: 2px 0 1px #999,  -2px 0 1px #999;	
}
.green_container_box_2{
	width:892px;
	margin-left:auto;
	margin-right:auto;
}
.h1_5{
	padding:0px; margin:0px; margin-left:40px;color:#30AFBA; font-size:25px; font-weight: 600;
}
.desc_25{
	margin-left:40px; margin-right:50px; color:#535152;
}
.h1_6{
	padding:0px; margin:0px; margin-left:40px;color:#30AFBA; font-size:25px; font-weight: 600;
}
.desc_26{
	padding:0px; margin:0px; margin-left:40px;color:#EC8E39; font-size:20px; margin-right:50px; font-weight:bolder;
}
.list_1{
	font-size:15px;list-style-image:url(../images/practitioner-sales-page/list_style.png); margin-left:40px; margin-right:50px;
}
.list_1 li {
  margin: 5px 0;
}
.desc_27{
	padding:0px; margin:0px; margin-left:40px;color:#EC8E39; font-size:20px; margin-right:50px; font-weight:bolder
}
.desc_28{
	background-color:#FBFBFB; width:100%; position: relative;
  -webkit-box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, .5);    
  box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, .5);   
}
.orange {
  color:#EC8E39;
}
.desc_29{
	width:1059px; margin-left:auto; margin-right:auto; 
}
.desc_29 h1{
  color:#2BACB0; font-size: 30px; text-align: center;
}
.desc_29 ul{
  margin: 2em 0;
  padding: 0;
}  
.desc_29 li{
  list-style-type: none;
  min-height: 50px;
  padding-left: 60px;
  margin: 1.5em 0;
}
.sub_1{
  margin-top: 60px;
  padding-right: 450px;
  background: url("../images/practitioner-sales-page/plant-grow.png") no-repeat;
  background-position: top right;
}
.sub_1 .li1{
  background: url("../images/practitioner-sales-page/ol1-open.png") no-repeat;
}
.sub_1 .li2{
  background: url("../images/practitioner-sales-page/ol2-open.png") no-repeat;
}
.sub_1 .li3{
  background: url("../images/practitioner-sales-page/ol3-open.png") no-repeat;
}
.sub_2 .li1{
  background: url("../images/practitioner-sales-page/ol1-solid.png") no-repeat;
}
.sub_2 .li2{
  background: url("../images/practitioner-sales-page/ol2-solid.png") no-repeat;
}
.sub_2 .li3{
  background: url("../images/practitioner-sales-page/ol3-solid.png") no-repeat;
}
.sub_1 h2,
.sub_2 h2,
.sub_3 h2,
.sub_4 h2{
  font-size: 25px;
  color: #2BACB0;
  margin: 0;
  padding-top: 50px;
  font-weight: 600;
}
.sub_2{
  margin-top: 60px;
  padding-left: 450px;
  background: url("../images/practitioner-sales-page/risk-free.png") no-repeat 0 100px;
}
.sub_2 li{
  color:#2BACB0; font-size: 20px; line-height: 25px; font-weight: 600;
}
.sub_3{
  margin-top: 60px;
  padding-right: 450px;
  background: url("../images/practitioner-sales-page/bird-flower.png") no-repeat;
  background-position: top right;
}
.sub_4{
  margin-bottom: 50px;
}
.sub_4 h2{
  text-align: center;
}
.sub_4 h3{
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
.sub_4 .sub_4a{
  float:left;
  width: 280px;
  margin: 0 30px;
}
.sub_4 .sub_4a h2{
  color: #000;
  font-size: 20px;
  font-weight: 600;
  border-bottom: solid 6px #F68C33; 
  text-align: left;
  padding: 0;
  margin: 0;
}

.h1_7{
	padding:0px; margin:0px; text-align:center; color:#fff;
}
.desc_30{
	width:445px; margin-right:10px; height:362px; margin-left:55px; margin-top:35px; font-size:17px; font-weight:bold; color:#535152;
}
.desc_31{
	width:457px; margin-right:10px; height:92px; margin-left:565px; font-size:17px; margin-top:-10px; font-weight:bold; color:#fff;
}
.desc_32{
	width:457px; margin-right:10px; height:82px; margin-left:565px; font-size:17px; margin-top:50px; font-weight:bold; color:#fff;
}
.desc_33{
	width:457px; margin-right:10px; height:152px; margin-left:565px; font-size:17px; margin-top:60px; font-weight:bold; color:#fff;
}
.desc_34{
	font-size:30px; font-weight:bold; text-align:center; color:#fff;
}
.desc_34a{
	font-size:25px; text-align:center; color:#fff; line-height:30px; width: 650px; margin: 10px auto;
}
.desc_35{
	font-size:35px; font-weight:bold; color:#fff; text-align:center;
}
.desc_35a{
	color:#fff; line-height:30px; width: 650px; margin: 10px auto;
}
.button.orange-gradient{
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  border-radius:10px;  
}
.desc_36{
	text-align:center; color:#fff; font-size:22px; font-weight:bold;
}
.desc_37{
	text-align:center; color:#fff; font-size:30px; font-weight:bold;
}
.desc_38{
	padding:0px; margin:0px; color:#30AFBA; font-size:25px; margin-left:40px; font-weight:600;
}
.desc_39{
	color:#535152; margin-left:40px; margin-right:40px;
}
.desc_40{
	color:#535152; margin-left:40px; margin-right:40px;
}
.desc_41{
	color:#EC8E39; font-size:25px; font-weight:bold; margin-right:50px; margin-left:40px; line-height: 30px;
}
.desc_42{
	list-style-image:url(../images/practitioner-sales-page/list_style.png); margin-left:40px; margin-right:50px;
}
.desc_42 li{
  margin: 5px 0;
}
.desc_43{
	color:#30AFBA; font-size:20px; margin: 20px auto; width: 600px; font-weight: 600;
}
.desc_44{
	text-align:center; font-size:30px; color:#fff; font-weight:bold;
}
.desc_45{
	width:100%; height:810px; background-image:url(../images/practitioner-sales-page/fade_bird.png); background-position:center; background-repeat:no-repeat; background-size:contain;background-color: #F2F2F2;
}
.desc_45_1{
}
.desc_46{
	width:892px; height:auto; margin-left:auto; margin-right:auto;
}
.desc_47{
	padding:0px; margin:0px; text-align:center; color:#EC8E39; font-size:40px;
}
.desc_48{
	width:650px; height:370px; border:10px dashed #A9BE52; position:relative;
}
.desc_49{
	margin-top:-10px; font-size:36px; color:#fff; font-weight:bold;
}
.desc_50{
	width:100%; height:322px;// background-image:url(../images/practitioner-sales-page/bird_fade_1.png);background-size:contain; background-position:250px; background-repeat:no-repeat;
}
.desc_51{
	width:893px; height:300px; margin-left:auto; margin-right:auto;  
}